@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

/* tailwindcss  */
@theme {
  --font-inter: "Inter", sans-serif; 
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #1a7a1a; 
  --color-primary-content: #f5f5f5; 
       
}

/* TODO добавить стиль для хедер, футер на фокус клавой */
/* TODO добавить шрифт для заголовков */